name: deploy-docs
on:
  push:
    branches: [ main ]
  workflow_dispatch:
jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Install MkDocs Material
        run: |
          python -m pip install --upgrade pip
          pip install mkdocs-material
      - name: Build site
        run: mkdocs build --strict
      - name: Deploy to GitHub Pages
        run: mkdocs gh-deploy --force
